body {
  color: rgb(255, 255, 255);
  background: rgb(44, 47, 51);
  font-family: 'Questrial', sans-serif;
  font-style: normal;
  font-weight: 100;

  margin: 30px 0px 0px 60px;
}

a {
color: rgb(0, 255, 0)}

.btn-grad {background-image: linear-gradient(to right, #FF4E50 0%, #F9D423  51%, #FF4E50  100%)}
.btn-grad {
margin: 10px;
padding: 15px 45px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
margin: auto
}

.btn-grad:hover {
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;
}

iframe {
  text-align: center;
  position: absolute;
  left: 82.5%;
  top: 60%;
  transform: translate(-50%, -50%);
 }

 #discord {
 position:absolute; left: 26%;
 position:absolute; bottom: 32.5%
 }
